.App {
  width: 1400px;
  height: 900px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-areas: "header header header"
                      "left main right"
                      "footer footer footer";
}

.header {
  grid-area: header;
  position: sticky;
  top: 0;
}

.left {
  grid-area: left;
}

.main {
  display: flex;
  grid-area: main;
  justify-content: center;
  align-items: center;
}

.right {
  grid-area: right;

}
.bgi_1 {
  background-image: url("./img/dyno.jpg")
}
.bgi_2 {
  background-image: url("./img/planets.jpg")
}
.bgi_3 {
  background-image: url("./img/chubaka.jpg")
}
.bgi_4 {
  background-image: url("./img/dogs.jpg")
}
.bgi_5 {
  background-image: url("./img/cats.jpg");
}

.footer {
  grid-area: footer;
  position: sticky;
  bottom: 0;

}
.button {
  height: 50px;
  width: 150px;
}